# Dependency directories
node_modules/

# Build output
dist/

# Environment variables
.env
.env.local
.env.development
.env.test
.env.production

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Directory for instrumented libs (coverage)
coverage/

# Editor directories and files
.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*

# OS
.DS_Store
Thumbs.db

# SQLite databases
*.db
*.sqlite
*.sqlite3

# Jest
jest.config.js